.markdown{
    width: 70%;
    margin: auto ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding:20px;

}
.markdown div,textarea{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:20px;
    outline: none;
    border: none;
}

@media (max-width:500px) {
    .markdown{
        grid-template-columns: 1fr;
    }
    
}